@import './colorschemes/catppuccin-macchiato.css';

/* ========== Global Styles ========== */
* {
    border: none;
    font-family: "JetBrainsMono Nerd Font Propo", "Noto Sans JP", sans-serif;
    font-weight: 700;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    /* background:  rgba(36, 39, 58, 0.7); */
    background: @crust;
    color: black;
}

tooltip {
    background: @base;
    border: 2px solid @crust;
    border-radius: 0;
}

/* ========== Module Defaults ========== */
#bluetooth,
#custom-power,
#network,
#pulseaudio,
#clock,
#window,
#mpris,
#cpu,
#memory,
#wireplumber,
#workspaces {
    background: transparent;
    font-weight: 600;
    margin-right: 5px;
    margin-left: 5px;

    padding-top:4px;
    padding-bottom: 4px;

}

/* ========== Individual Module Styles ========== */


/* --- left modules --- */

#workspaces {
    border-color: transparent;
    margin-left: 10px;
}

#workspaces button {
    color: @overlay1;
    padding: 5px;
    /* padding-right: 10px; */
    background: transparent;
    transition: all 200ms;
}

#workspaces button.active,
#workspaces button.urgent,
#workspaces button:hover {
    color: @color0;

}

#workspaces button.focused {
    color: @crust;
}

#workspaces button:hover {
    border: none;
    box-shadow: none;
    outline: none;
    transition: none;
    text-shadow: none;
    
}

#clock {
    color: @color1;
    font-weight: 600;
}

#cpu,
#memory {
    color: @color2;
}

#cpu {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 0;
    margin-right: 0;
}

#memory {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* --- middle modules --- */

#window {
    background: transparent;
    color: @overlay1;
}


/* --- right modules --- */

#network {
    color: @color3;
}

#bluetooth {
    color: @color4;
}

#pulseaudio,
#wireplumber {
    color: @color5;
}

#custom-power {
    color: @color8;
    margin-right: 10px;
}
