/* @import "mocha.css"; */

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrainsMono Nerd Font;
    font-size: 14px;
    border-radius: 0;
}

window#waybar {
    background-color: #282828;
    color: #ebdbb2;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #a89984;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: rgba(0,0,0,0);
}

#custom-expand-icon {
    color: #ebdbb2;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ebdbb2;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    color: #a89984;
}
#workspaces button.active{
    color: #a89984;
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #a89984;
}

#workspaces button.urgent {
    background-color: #cc241d;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#bluetooth,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #ebdbb2;
}

#clock {
    margin-right: 10;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 10;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 5;
}

#clock {
    background-color: rgba(0,0,0,0);
    color: #ebdbb2;
}

#battery {
    background-color: rgba(0,0,0,0);
    color: #ebdbb2;
}

#bluetooth {
    color: #ebdbb2;
}

#battery.charging, #battery.plugged {
    background-color: rgba(0,0,0,0);
    color: #98971a;
}

@keyframes blink {
    to {
        background-color: rgba(0,0,0,0);
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: rgba(0,0,0,0);
    color: #cc241d;
    animation-name: none;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


label:focus {
    background-color: #000000;
}


#network {
    background-color: rgba(0,0,0,0);
    color: #ebdbb2;
}

#network.disconnected {
    background-color: rgba(0,0,0,0);
    color : #cc241d;
}

#pulseaudio {
    background-color: rgba(0,0,0,0);
    color: #ebdbb2;
}

#pulseaudio.muted {
    background-color: rgba(0,0,0,0);
    color: #cc241d
}

#tray {
    background-color: rgba(0,0,0,0);
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #cc241d;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: #ebdbb2;
}

#privacy-item.screenshare {
    background-color: rgba(0,0,0,0);
}

#privacy-item.audio-out {
    background-color: rgba(0,0,0,0);
}
